<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="AppId" value="ADD YOUR APPLICATION ID HERE"/>
    <add key="AppSecret" value="ADD YOUR APPLICATION SECRET HERE"/>
    <add key="CustomerId" value="ADD YOUR CUSTOMER ID HERE"/>
    <add key="Port" value="ADD YOUR PORT HERE"/>
  </appSettings>
</configuration>